#footer {
    background: $light-black;
    color: $dark-white;
    height: 65.4rem;
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
        padding: 4rem 0 0 0;
        .footer-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                margin-bottom: 4.8rem;
            }
            p {
                font-size: 1.4rem;
                letter-spacing: 0.3rem;
                margin-bottom: 2.8rem;
                color: $dark-white;
                opacity: 1;
            }
        }
        .footer-description {
            p {
                opacity: 0.4;
                text-align: center;
                font-size: 1.6rem;
                line-height: 2.8rem;
                margin-bottom: 2rem;
            }
            .footer-socials {
                display: flex;
                justify-content: space-between;
                width: 16rem;
                margin: 0 auto;
                
            }
        }
        p {
            opacity: 0.4;
            text-align: center;
            font-size: 1.6rem;
            a {
                color: pink;
                text-decoration: underline;
            }
        }

    }
}
//media queries
@media screen and (min-width: 1050px) {
    #footer {
        height: 40rem;
        .footer-content {
            .footer-buttons {
                margin-bottom: 4rem;
                flex-direction: row;
                align-items: center;
                padding: 0;
                width: 80%;
                justify-content: space-around;
                h5 {
                    margin: 0;
                    margin-right: 16rem;
                    font-size: 3.2rem;
                }
                p {
                    margin: 0;
                    padding: 0.8rem;
                    &:hover {
                        transition: all ease 0.2s;
                        color: $brown;
                    }
                }
            }
            .footer-description {
                display: flex;
                p {
                    text-align: left;
                    max-width: 40%;
                    font-size: 1.8rem;
                    line-height: 3.2rem;
                }
                .footer-socials {
                    align-items: flex-end;
                    > * {
                        cursor: pointer;
                        transition: all ease 0.2s;
                        &:hover {
                            color: $brown;
                        }

                    }
                    
                }
            }
        }
    }
}