@import "../variables.scss";
#nav {
    position: sticky;
    width: 100%;
    background: $light-black;
    z-index: 105;
    top: 0;
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
        min-height: 10vh;
        .nav-icon {
            
            color: $darker-white;
            font-size: 2.4rem;
        }

        h4 {
            color: $darker-white;
            cursor: pointer;
            &:hover {
                color: $brown;
                transition: all ease 0.2s;
            }
        } 
    }
}

.navigation-background {
    position: sticky;
    z-index: 101;
    height: 100%;
    width: 100%;
    
    
    &::before {
        content: '';
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.navigation-links {
    z-index: 102;
    position: fixed;
    width: 100%;
    top: 10vh;
    background: white;
    padding: 6rem 2rem 0rem 2rem;
}
.navbar-links {
    display: none;
}


@media screen and (min-width: 1050px) {
    
    
    #nav {
        .nav-content {
            width: 75%;

            .cart-button{
                position: relative;
                z-index: 5;
                cursor: pointer;
                display: flex;
                align-items: center;
                &:hover {
                    .cart-text {
                        color: $brown;
                    }
                    .nav-icon {
                        color: $brown;
                    }
                }
            }
            .cart-text {
                
                display: contents;
                color: hsl(0, 0%, 90%);
                font-size: 1.4rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                cursor: pointer;
        
            }
        }
    }

    .burger-button {
        display: none;
    }
    .navbar-links {
        display: flex;
        list-style-type: none;
        
        li {
            transition: all ease 0.2s;
            color: $darker-white;
            padding: 0 1rem;
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
            &:hover {
                color: $brown;
            }
            
        }
    }
}