@import "../variables.scss";
#nav {
    position: sticky;
    width: 100%;
    background: $light-black;
    z-index: 105;
    top: 0;
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
        min-height: 10vh;
        .nav-icon {
            color: $darker-white;
            cursor: pointer;
        }
        h4 {
            color: $darker-white;
            cursor: pointer;
        } 
    }
}

.navigation-background {
    position: sticky;
    z-index: 101;
    height: 100%;
    width: 100%;
    
    
    &::before {
        content: '';
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.navigation-links {
    z-index: 102;
    position: fixed;
    width: 100%;
    top: 10vh;
    background: white;
    padding: 6rem 2rem 0rem 2rem;
}