$brown: hsl(22, 65%, 57%);
$light-brown: hsl(21, 94%, 75%);

$black: hsl(0, 0%, 0%);
$light-black: hsl(0, 0%, 6%);

$darker-white: hsl(0, 0%, 95%);
$dark-white: hsl(0, 0%, 98%); 
$white: hsl(0, 0%, 100%);
